<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>RentalWebPage</display-name>

	<!-- DB 커넥션 풀을 사용하기 위한 리스너 -->
	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>

	<!-- 어플리케이션 컨텍스트에서 사용할 value -->
	<context-param>
		<param-name>poolConfigFile</param-name>
		<param-value>/WEB-INF/dbConfig/db.properties</param-value>
	</context-param>

	<!-- character Encoding 하는 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>filter.CharacterEncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 로그인확인 하는 필터 -->
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<!-- 비밀번호를 변경할 때 로그인을 확인하는 필터 사용 -->
		<url-pattern>/change</url-pattern>
		<url-pattern>/calendar</url-pattern>
		<url-pattern>/rentinquiry</url-pattern>
		<url-pattern>/delete</url-pattern>
	</filter-mapping>

	<!-- 컨트롤러 서블릿 -->
	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>main.controller.MainControllerServlet</servlet-class>

		<init-param>
			<param-name>handlerConfigFile</param-name>
			<param-value>/WEB-INF/handlerConfig/mainHandler.properties</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/join</url-pattern>
		<url-pattern>/change</url-pattern>
		<url-pattern>/calendar</url-pattern>
		<url-pattern>/rentinquiry</url-pattern>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>



</web-app>